<md-card>
    <table>  
        <thead>
            <tr>
                <th>Action Name</th>
                <th>Icon</th>
                <th>Route Type</th>
                <th>Target</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let topBarNavItem of topBarNavigationItems">
                <td>{{ topBarNavItem.actionName }}</td>
                <td><md-icon class="mat-search-top-bar" fontSet="fontawesome" fontIcon="{{ topBarNavItem.icon }}"></md-icon> - {{ topBarNavItem.icon }}</td>
                <td>{{ topBarNavItem.routeType }}</td>
                <td>{{ topBarNavItem.target }}</td>
                <td>
                    <md-icon class="mat-search-top-bar" fontSet="fontawesome" fontIcon="fa-pencil"></md-icon>
                    <md-icon class="mat-search-top-bar" fontSet="fontawesome" fontIcon="fa-eraser"></md-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <md-card-actions>
        <button md-button (click)="openDialog(routeTypes);">Add</button>
    </md-card-actions>    
</md-card>