<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>

<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form class="form-signin" (submit)="loginWithEmail($event,email.value,password.value,provider.value)">
            <md-input-container>
                <input mdInput #email type="email" id="email" class="form-control" placeholder="Email Address">
            </md-input-container>
            <br>
            <md-input-container>
                <input mdInput #password type="password" id="password" class="form-control" placeholder="Password" required>
            </md-input-container>
            <br>
            <label for="provider">Provider:</label>
            <md-radio-group #provider class="example-radio-group">
                <md-radio-button #provider class="example-radio-button" value='Firebase'>Firebase</md-radio-button>
                <md-radio-button #provider class="example-radio-button" value='PartnerPortalAPI'>PartnerPortal API</md-radio-button>
            </md-radio-group>
            <button md-button-raised type="submit">Sign-in</button>
        </form>
        <hr>
        <button class="login loginmodal-submit" (click)="loginWithGoogle()">Login with Google</button>
        <hr>
        <a [routerLink]="['/register']">Register Now!</a><br><a [routerLink]="['']">Cancel</a>
    </div>
</div>