<button md-icon-button [mdMenuTriggerFor]="menu" >
    <md-icon fontSet="fontawesome" [fontIcon]=topBarAction.icon></md-icon>
</button>
<md-menu #menu="mdMenu" [overlapTrigger]="false">
  <div *ngIf="(selectedMenuItem)">
    <div *ngIf="selectedMenuItem.menuType === 'drop-down'">
      <button md-menu-item *ngFor="let menuListItem of selectedMenuItem.menuListItems" (click)="menuClick(menuListItem.route)">
        <md-icon fontSet="fontawesome" [fontIcon]=menuListItem.icon></md-icon>
        <span>{{menuListItem.menuItemName}}</span>
      </button>
<!--
        <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Redial</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
-->      
    </div>
    <div *ngIf="selectedMenuItem.menuType === 'list'">
      <button md-menu-item>
        I am a list.
      </button>
    </div>
  </div>
  <div *ngIf="!(selectedMenuItem)">
    <button me-menu-item disabled>
      No Menu Item Found yet
    </button>
  </div>
</md-menu>