// Typography
$md-body-font-size-base: rem(1.4) !default;
$md-font-family: Roboto, sans-serif !default;
$md-font-family-light: Roboto Light, sans-serif !default;

// Table Settings
$data-table-font-size: rem(1.4) !default;
$data-table-header-font-size: rem(1.6) !default;
$data-table-header-sort-icon-size: rem(1.6) !default;

$data-table-header-sorted-icon-hover-color: rgba(#000, 0.38) !default;
$data-table-divider-color: rgba(#000, 0.12) !default;
$first-last-cell-padding: rem(2.4) !default;
$check-cell-width: rem(1.8) !default;

$data-table-hover-color: md-color(9) !default;
$data-table-selection-color: md-color(8) !default;

$data-table-dividers: 1px solid $data-table-divider-color !default;

$data-table-row-height: rem(4.8) !default;
$data-table-last-row-height: rem(5.6) !default;
$data-table-column-padding: rem(2.4) !default;
$data-table-column-spacing: rem(3.2) !default;