<h1>Administration Dashboard</h1>

<md-card>
    <md-tab-group>
        <md-tab label="Users">
            <br>
            <md-tab-group>
                <md-tab label="Users">
                    This is the tab for Users...
                </md-tab>
                <md-tab label="Personas">
                    This is the tab for Personas...
                </md-tab>
                <md-tab label="Groups">
                    This is the tab for Groups...
                </md-tab>
            </md-tab-group>
        </md-tab>
        <md-tab label="Settings">
            <br>
            <md-tab-group>
                <md-tab label="Topbar Navigation">
                    <app-topnav-settings [topBarNavigationItems]="topBarItems" [routeTypes]="routeTypes"></app-topnav-settings> 
                </md-tab>
                <md-tab label="Sidebar Navigation"> 
                    <app-sidenav-settings [sideBarNavigationItems]="sideBarItems"></app-sidenav-settings>
                </md-tab>
                <md-tab label="Routes">
                    <app-routes [ROUTES]="ROUTES"></app-routes>
                </md-tab>
                <md-tab label="Route Types">
                    <route-types-display [routeTypes]="routeTypes"></route-types-display>
                </md-tab>
            </md-tab-group>
        </md-tab>
        <md-tab label="Alerts">
            <br>
            <md-tab-group>
                <md-tab label="Alerts">

                </md-tab>
            </md-tab-group>
        </md-tab>
    </md-tab-group>
</md-card>