<h1>Administration Dashboard</h1>

<md-card>
    <md-tab-group>
        <md-tab label="Users">
            <md-tab-group>
                <md-tab label="Users">
                    This is the tab for Users...
                </md-tab>
                <md-tab label="Personas">
                    This is the tab for Personas...
                </md-tab>
                <md-tab label="Groups">
                    This is the tab for Groups...
                </md-tab>
            </md-tab-group>
        </md-tab>
        <md-tab label="Settings">
            <md-tab-group>
                <md-tab label="Navigation">
                    Top Navigation:<br/>
                            <app-topnav-settings [topBarNavigationItems]="topBarItems"></app-topnav-settings> 
                    SideBar Navigation: <br/>
                </md-tab>
            </md-tab-group>
        </md-tab>
        <md-tab label="Alerts">
            <md-tab-group>
                <md-tab label="Alerts">

                </md-tab>
            </md-tab-group>
        </md-tab>
    </md-tab-group>
</md-card>