<div *ngIf="viewType === 'full'">
    <h1>Partners Tiers</h1>
    <hr>
    <md-card>
        <table>
            <thead>
                <th>Partners Tier</th>
                <th>Description</th>
                <th>Short Description</th>
                <th>Actions</th>
            </thead>
            <tbody *ngIf="(partnersTiersList) && length > 0  && authProvider === 'Firebase'" class="data-tbody">
                <tr *ngFor="let partnersTier of partnersTiersList | async">
                    <td class="text-cell">{{ partnersTier.tierName }}</td>
                    <td class="text-cell">{{ partnersTier.description }}</td>
                    <td class="text-cell">{{ partnersTier.shortDesc }}</td>
                    <td>
                        <button md-icon-button (click)="openDialog(partnersTier)"><md-icon fontSet="fontawesome" fontIcon="fa-pencil"></md-icon></button>
                        <button md-icon-button (click)="deletePartnersTier(partnersTier.$key)"><md-icon fontSet="fontawesome" fontIcon="fa-eraser"></md-icon></button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="(partnersTiersList) && length > 0 && authProvider === 'PartnerPortalAPI'" class="data-tbody">
                <tr *ngFor="let partnersTier of partnersTiersList">
                    <td class="text-cell">{{ partnersTier.tiername }}</td>
                    <td class="text-cell">{{ partnersTier.description }}</td>
                    <td class="text-cell">{{ partnersTier.shortdesc }}</td>
                    <td>
                        <button md-icon-button (click)="openDialog(partnersTier)"><md-icon fontSet="fontawesome" fontIcon="fa-pencil"></md-icon></button>
                        <button md-icon-button (click)="deletePartnersTier(partnersTier.id)"><md-icon fontSet="fontawesome" fontIcon="fa-eraser"></md-icon></button>
                    </td>
                </tr>
            </tbody>            
            <tbody *ngIf="!(partnersTiersList) || length == 0" class="data-tbody">
                <tr><td colspan="3" class="text-cell">No partners tiers found</td></tr>
            </tbody>
        </table>
    </md-card>
    <br>
    <button md-raised-button (click)="openDialog()">Add Partners Tier</button>
</div>
<div  *ngIf="viewType === 'brief'">
    <md-card>
        <md-card-content>
            <p *ngIf="!(partnersTiersList) || length == 0">No partners tiers found</p>
            <table *ngIf="(partnersTiersList) && length > 0">
                <thead>
                    <th>Partners Tier</th>
                    <th>Short Desc</th>
                    <th>Description</th>
                </thead>
                <tbody *ngIf="authProvider === 'Firebase'">
                    <tr *ngFor="let partnersTier of partnersTiersList | async">
                        <td class="text-cell">{{partnersTier.tierName}}</td>
                        <td class="text-cell">{{partnersTier.shortDesc }}</td>
                        <td class="text-cell">{{partnersTier.description }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="authProvider === 'PartnerPortalAPI'">
                    <tr *ngFor="let partnersTier of partnersTiersList">
                        <td class="text-cell">{{partnersTier.tiername}}</td>
                        <td class="text-cell">{{partnersTier.shortdesc }}</td>
                        <td class="text-cell">{{partnersTier.description }}</td>
                    </tr>
                </tbody>                
            </table>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" (click)="this.router.navigate(['/partner-tiers'])">Go To Partners Tiers</button>
        </md-card-actions>       
    </md-card>
</div>