<h1>Partner Program Mgmt</h1>
<hr>
<md-tab-group>
    <md-tab label="Partner Types">
        <app-partners-types [viewType]="viewType"></app-partners-types>
    </md-tab>
    <md-tab label="Partner Tiers">
        <app-partners-tiers [viewType]="viewType"></app-partners-tiers>
    </md-tab>
    <md-tab label="Competencies">
        <app-competencies  [viewType]="viewType"></app-competencies>
    </md-tab>
    <md-tab label="Competency Levels">
        <app-competency-levels  [viewType]="viewType"></app-competency-levels>
    </md-tab>
</md-tab-group>





