@import './styles/Palette';
@import './styles/variables';

$font-sans-serif: 'Roboto', sans-serif;
$font-sans-serif-light: 'Roboto Light', sans-serif;
$md-a-color-default: md-color(13);
$md-a-color-hover: md-color(11);
$md-a-color-click: md-color(10);
$md-a-color-disabled: md-color(6);
$md-a-color-focus: $md-a-color-hover;

html {
  font-size: 16px;
}

body {
  font-family: $font-sans-serif;
  font-size: 1rem;
  margin: 0;
}

a {
  line-height: normal;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  color: $md-a-color-default;
  vertical-align: baseline;
  text-align: start;
  text-decoration: none;

  &:hover,
  &.hover {
    color: $md-a-color-hover;
    background: none;
  }

  &:focus,
  &.focus {
    color: $md-a-color-focus;
    background: none;
  }

  [disabled] {
    color: $md-a-color-disabled;
    background: none;
  }

  &:active,
  &.active {
    color: $md-a-color-click;
    background: none;
  }

  &.disabled,
  &:disabled,
  &.disabled:hover,
  &:disabled:hover {
    color: $md-a-color-disabled;
    background: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

small {
  font-size: 0.75rem;
  font-weight: normal;
}

.lead {
  font-size: 1.313rem;
}

h1 {
  font-size: 2.25rem;

  &.small {
    font-size: 1.438rem;
  }
}

h2 {
  font-size: 1.875rem;

  &.small {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.5rem;

  &.small {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.125rem;

  &.small {
    font-size: 0.875rem;
  }
}

h5 {
  font-size: 0.875rem;

  &.small {
    font-size: 0.688rem;
  }
}

h6 {
  font-size: 0.75rem;

  &.small {
    font-size: 0.563rem;
  }
}

table {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: $data-table-font-size;

  box-sizing: border-box;
  width: 100%;

  tr {
    vertical-align: middle;
    &::last-child {
      height: $data-table-last-row-height;
    }
  }

  th, td {
    padding: 0 $data-table-column-spacing 0 $data-table-column-padding;
    text-align: right;

    &:first-of-type {
      padding-left: $first-last-cell-padding;
    }

    &:last-of-type {
      padding-right: $first-last-cell-padding;
    }

    &.text-cell {
      text-align: left;
    }
  }

  th {
    font-size: $data-table-header-font-size;
    font-weight: 600;
    color: md-color(7);
    text-overflow: ellipsis;
    box-sizing: border-box;

    &.sortable {
      cursor: pointer;
    }

    &.sorted-ascending,
    &.sorted-descending {
      color: md-color(7);
      &::before {
        font-family: 'Material Icons';
        font-size: $data-table-header-sort-icon-size;
        content: '\e5d8';
        margin-right: 5px;
        vertical-align: sub;
      }
      &:hover {
        cursor: pointer;
        &::before {
          color: $data-table-header-sorted-icon-hover-color;
        }
      }
    }
    &.sorted-descending::before {
      content: '\e5db';
    }
  }
  td {
    position: relative;
    vertical-align: middle;
    height: $data-table-row-height;
    border-top: $data-table-dividers;
    border-bottom: $data-table-dividers;
    box-sizing: border-box;
    color: md-color(7);
  }

  th:first-child, td:first-child {
    padding-left: 24px;
  }

  th:last-child, td:last-child {
    padding-right: 24px;
  }

  tr {
    position: relative;
    height: $data-table-row-height;
  }

  tbody, .data-tbody {
    tr {
      &.selected, &.active {
        background-color: $data-table-selection-color;
      }

      &:hover {
        background-color: $data-table-hover-color;
      }
    }
  }
}