<h1>
  {{title}}
</h1>
<p>Hello World!</p>

<div>
    <a md-button color="primary">Flat button</a>
    <a md-raised-button color="accent">Raised button</a>
    <a md-fab color="primary"><md-icon>check</md-icon></a>
    <a md-mini-fab color="primary"><md-icon>check</md-icon></a>
</div>
<br>
<button md-raised-button (click)="openDialog()">This is a md-dialog.</button>
<br>
<ul>
  <li *ngFor="let configItem of configItems | async">{{configItem.$value}}</li>
</ul>
  
<ul>
  <li *ngFor="let item of items | async">{{item.$value}}</li>
</ul>